.router-button {
    background-color: #cc951e;
    color: white;
    height: 40px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
    background-position: center;
}

.mat-button-toggle {
    background-color: rgb(175, 171, 171);
    color: black(0, 0, 0);
}

.mat-button-toggle-checked {
    background-color: #cc951e;
    color: white;
}
